@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* || RESET  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

/* || GENERAL STYLES */
body {
  font-family: "Inter", serif;
  font-size: 15px;
  letter-spacing: 0.03em;
  line-height: 1rem;

  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  margin: 1.5rem 1.5rem 0 1.5rem;
  position: relative;
}

p {
  color: hsl(240, 11%, 66%);
}
h4 {
  color: hsl(240, 38%, 20%);
}

.container1 {
  position: relative;
}

.top-image {
  max-width: 100%;
  height: auto;
}

.testimonial {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-image {
  max-width: 80%;
  height: auto;
  position: absolute;
  bottom: 20px;
}

span {
  background-color: #fff;
  max-width: 7rem;
  border-radius: 3rem;
  overflow: hidden;

  position: absolute;
  bottom: 0.4rem;
  box-shadow: 2px 15px 2rem hsl(240, 18%, 77%);

  display: flex;
  align-items: center;
  justify-content: center;
}

#prev-btn,
#next-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-inline: 0.8rem;
  max-width: 45%;
  height: 2.2rem;
}

.container2 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 img {
  width: 25%;
}

.testimonial-text {
  position: relative;
  bottom: 30px;
  line-height: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonial-name {
  font-size: 13px;
}

.bottom-image {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 70%;
  z-index: -1;
}

/* || MEDIA QUERY */
@media screen and (min-width: 760px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    text-align: left;
    margin: 3rem 4rem 2rem 4rem;
  }

  .container1 {
    order: 2;
  }

  .container2 {
    order: 1;
  }

  .container2 img {
    align-self: start;
    width: 15%;
    margin-left: 3rem;
  }

  span {
    align-self: flex-start;
    margin-left: 4rem;
  }

  .testimonial-name {
    display: flex;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 1000px) {
  #paragraph {
    font-size: 20px;
    line-height: 1.5rem;
  }

  .container1 {
    display: flex;
    flex-direction: column;
  }

  .main {
    margin: 3rem 6rem 3rem 7rem;
  }

  span {
    margin-left: 7rem;
  }

  .testimonial-image {
    max-width: 80%;
    height: auto;
  }

  .bottom-image {
    max-width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    margin: 3rem 7rem 2rem 4rem;
  }

  #paragraph {
    font-size: 32px;
    line-height: 2.5rem;
  }

  .container2 img {
    margin-left: 12rem;
  }

  .testimonial-name {
    font-size: 20px;
  }

  span {
    margin-left: 8rem;
  }

  .testimonial-text {
    left: 120px;
    gap: 2rem;
  }
}
